<a class="btn btn-outline-primary" href="javascript:void(0)" (click)="goBack()">Back to Code-Course</a>
<br><br>
        <img style="height:300px"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Code.svg/1200px-Code.svg.png">
    <br><br>
<div class="jumbotron">
  <h1 class="display-4">Who we Are?</h1>
  <p class="lead">The leading global marketplace for learning and instruction.</p>
  <hr class="my-4">
  <p>By connecting students all over the world to the best instructors, Udemy is helping individuals reach their goals and pursue their dreams.<br>Code-Course is the leading global marketplace for teaching and learning, connecting students everywhere to the world’s best instruction anywhere.</p>
</div>